* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 90%;
    height: auto;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    


}

body{
    background:rgb(33, 192, 241);
}

p{
    font-family: serif;
    font-size: 17px;
    text-align:left;
    padding: 20px;
}

h1{
    font-family: fantasy;
    font-weight: lighter;
    color:rgba(0, 0, 0, 0.871) ;
    text-align: center;
    padding: 10px;
}

h2{
    color: rgb(231, 130, 23);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter ;
    padding: 10px;
    text-align: right;
}

header{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    list-style-type: none;
    display: flex;
    gap: 30px;

}

li2{
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: larger;
    margin-top: 30px;
    min-height: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
    



    